<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0/axios.min.js" defer></script>
    <script src="../Js/index.js" defer></script>

    <title>Group Chat App</title>
</head>
<button id="logout" class="logout"><img src="https://www.pngitem.com/pimgs/m/19-194832_oojs-ui-icon-logout-ltr-progressive-blue-logout.png"
    alt="Logout"></button>
<body>
    <h1>Chat App</h1>
    <div class="chat-app-div" id="chatApp">
            
            <ul class="chat-grps" id="chat-grp">
                <button class="grp-btn" id="grpbtn">New Group</button>
                
                
            </ul>
            <ul class="chat-msg" id="chat-msg">
            </ul>


    </div>
    <div class="popup-container" id="container">
        <div class="popup">
            <button id="close" class="close-btn">&times;</button>
            <form action="" onsubmit="createNewGroup(event)">
                <label for="group-name" >Enter Group Name</label><br>
                <input type="text" id="grpName"><br>
                <div id="check-box" id="check-box"></div>
                <button type="submit" class="newgroupbtn">Create</button>
            </form>
                            
        </div>
    </div>

    <div class="msg-input-div">
        <input type="text" name="msg" id="msg-input" class="msg-input">
        <button  class="send-btn"  id="send-btn" type="submit">Send</button>

    </div>
    
</body>
</html>